$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';


/* MIXINS */
@mixin border_radius($radius: 10px) {
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
}
@mixin border_top_radius($radius: 10px) {
	border-top-left-radius: $radius !important;
	-webkit-border-top-left-radius: $radius !important;
	-moz-border-top-left-radius: $radius !important;
	border-top-right-radius: $radius !important;
	-webkit-border-top-right-radius: $radius !important;
	-moz-border-top-right-radius: $radius !important;
}
@mixin border_bottom_radius($radius: 10px) {
	border-bottom-left-radius: $radius !important;
	-webkit-border-bottom-left-radius: $radius !important;
	-moz-border-bottom-left-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
	-webkit-border-bottom-right-radius: $radius !important;
	-moz-border-bottom-right-radius: $radius !important;
}

@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
	background: $color_top !important;
	background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
	background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_top, endColorstr=$color_bottom,GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
	-moz-box-shadow: 0 0 5px $shadow;
	-webkit-box-shadow: 0 0 5px $shadow;
	box-shadow: 0 0 5px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
	transition: all $segundos ease;
	-ms-transition: all $segundos ease;
	-webkit-transition: all $segundos ease;
	-o-transition: all $segundos ease;
	-moz-transition: all $segundos ease;
}
@mixin anim_transicion_linear( $segundos: 0.3s ){
	transition: all $segundos linear;
	-ms-transition: all $segundos linear;
	-webkit-transition: all $segundos linear;
	-o-transition: all $segundos linear;
	-moz-transition: all $segundos linear;
}
@mixin anim_key( $anim: spin, $segundos: 0.3s ){
	-webkit-animation: $anim $segundos linear;
	-moz-animation: $anim $segundos linear;
	animation: $anim $segundos linear;
}
@mixin anim_key_infinite( $anim: spin, $segundos: 0.3s ){
	-webkit-animation: $anim $segundos infinite linear;
	-moz-animation: $anim $segundos infinite linear;
	animation: $anim $segundos infinite linear;
}

*{
	behavior: url(PIE.htc);
}
body{
	background: #f9f9f9;
}
a{
	color: #3392cc;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="email"]{
	background: #FFFFFF;
	border: 1px solid #cccccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	@include border_radius( 3px );
}

/* BOTONES */
.btn-primary{
	background:#4ca3e6;
	color:#FFFFFF;
	font-size:11px;
	text-transform:uppercase;
	border:none;
	padding: 10px 40px;
}

.clear-fix{
	clear: both;
	overflow: hidden;
}

header{
	z-index: 999;
	position: fixed;
	top: 0;
	left:0;
	right:0;
	.top-header{
		background:#000000;
		color: #FFFFFF;
		font-size: 11px;
		p{
			padding: 5px 0;
			margin: 0;
		}
		a{
			color: #FFFFFF;
		}
	}
	.nav-header{
		background: url(../images/nav.png) repeat-x;
		height: 60px;
		.navbar{
			border:none;
			.logo{
				background: url(../images/logo_bnmx.png) no-repeat;
				background-size: 179px;
				width: 179px;
				height: 46px;
				margin-top: 5px;
				display: block;
			}
			.navbar-nav{
				margin-top: 5px;
				li{
					@include border_radius( 5px );
					margin-left: 8px;
					overflow: hidden;
					a{
						padding: 13px!important;
						color: #FFFFFF;
					}
					a:hover{
						@include gradient_top_bottom( #3098cd, #2e92c4);
					}
				}
				li.active{
					background: #23aeda;
				}
			}   
		}
	}
}
.buscador{
	background: #ffffff;
	border-bottom: 1px solid #cdcdcd;
	padding: 10px 0;
}
.title{
	font-weight:normal;
	font-size:24px;
}
.contenedor-tabla{
	@include border_radius(5px);
	border:1px solid #d8d8d8;
	background: #FFFFFF;
	margin-top:20px;
	margin-bottom:5px;
	overflow: hidden;
	.head-contenedor{
		background: #1b85d1;
		color: #666666;
		overflow: hidden;
		h4{
			font-size: 14px;
			font-weight: normal;
			margin: 15px 10px;
			color: #ffffff;
		}
		.badge{
			display: block;
			width: 25px;
			height: 25px;
			padding-top: 5px;
			font-size: 14px;
			color: #FFFFFF;
			font-weight: normal;
			margin: 10px 5px;
			@include border_radius(25px);
		}
		.badge.green{
			background: #13da25;
		}
		.badge.yellow{
			background: #ffaa00;
		}
		.badge.red{
			background: #ff0000;
		}
		.btn-table{
			background: #4ca3e6;
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 11px;
			padding: 15px 10px;
			@include border_radius(0px);
			span{
				padding-right:15px;
			}
		}
	}
	table{
		color: #000000;
		font-size: 12px;
		border-collapse: separate;
		thead{
			td{
				background:#f2f2f2;
				color: #666666;
				font-weight: bold;
			}
		}
		tbody{
			td{
				padding-top: 12px;
				padding-bottom: 12px;
			}
			tr{
				border-top:none;
				border-bottom:1px solid #eeeeee;
			}
			tr:last-child{
				border-bottom:none;
			}
			.btn-close{
				color: #FFFFFF;
			}
		}
	}
}

.net-key{
	background: #326d99;
	color:#ffffff;
	overflow:hidden;
	padding:10px;
	@include border_radius(5px);
	.input-group{
		margin-top: 5px;
		margin-bottom: 5px;
		.input-group-addon{
			background: #4ca3e6;
			color: #FFFFFF;
			padding-left:20px;
			padding-right:20px;
			border:none;
		}
		input[type="password"]{
			border-top-right-radius: 5px !important;
			-webkit-border-top-right-radius: 5px !important;
			-moz-border-top-right-radius: 5px !important;
			border-bottom-right-radius: 5px !important;
			-webkit-border-bottom-right-radius: 5px !important;
			-moz-border-bottom-right-radius: 5px !important;
			border-top-left-radius: 0 !important;
			-webkit-border-top-left-radius: 0 !important;
			-moz-border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			-webkit-border-bottom-left-radius: 0 !important;
			-moz-border-bottom-left-radius: 0 !important;
		}
	}
	
}
.head-pagos{
	z-index: 999;
	position: fixed;
	top: 85px;
	left: 0;
	right:0;
	.buscador{
		.form-group{
			margin: 0;
			padding-top: 8px;
			label{
				font-weight: normal;
				font-size: 16px;
			}
			.tarjeta{
				background-size:25px;
				background-position: 35px 10px;
			}
			input[type="text"]{
				background: url(../images/ico-lupa.png) right 6px no-repeat;
				padding-left:40px;
				padding-right:30px;
			}
		}
	}
	.franja-breadcrumb{
		label{
			padding-left:30px;
		}
	}
}

.content-pagos{
	margin-top:153px;
	.sidebar{
		background: #ffffff;
		padding:0;
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
		.tipo-pago{
			color: #000000;
			padding:15px;
			a{
				padding-left: 10px;
			}
			a.active{
				font-weight: bold;
			}
		}
		.nav-tabs{
			background: #1b85d1;
			margin-left: -1px;
			margin-right: -1px;
			padding: 10px 10px 0 10px;
			li{
				a{
					background: transparent;
					color: #FFFFFF;
				}
			}
			li.active{
				a{
					background: #FFFFFF;
					color: #000000;
				}
			}
		}
		.list-cuentas{
			background:#FFFFFF;
			overflow: hidden;
			border-bottom: 1px solid #e9e9e9;
			input[type="search"]{
				background: #ffffff url(../images/ico-lupa.png) right 8px no-repeat;
				background-size: 25px; 
				padding-right:25px;
				margin: 10px 5px;
				width: 80%;
				font-size: 12px;
			}
			.btn-beneficiario, 
			.btn-beneficiario:hover{
				text-align: center;
				background: #FFFFFF;
				border:1px solid #1b85d1;
				color: #1b85d1;
				font-size: 22px;
				padding: 0 10px;
				margin: 10px 5px 0 0;
			}
			.account-list{
				
				padding: 0 10px 20px 10px;
				.account-item{
					font-size: 12px;
					color: #1b85d1;
					background: #FFFFFF;
					padding: 15px 5px;
					border-bottom: 1px solid #eeeeee;
				}
				.account-item:hover{
					background:#fbfbfb;
				}
			}
		}
		.beneficiario{
			border-bottom: 1px solid #e9e9e9;
			padding: 10px 5px;
			overflow: hidden;
			.btn-beneficiario, 
			.btn-beneficiario:hover{
				text-align: center;
				background: #FFFFFF;
				border:1px solid #1b85d1;
				color: #1b85d1;
				font-size: 22px;
				padding: 0 10px;
				margin: 0 5px 10px 0;
			}
		}
	}
}


.tarjeta-clasica{
	background: url(../images/tarjeta_clasica.png) no-repeat;
}

// .container {
// 	padding-right: 15px;
// 	padding-left: 15px;
// }
// .left-inner-addon {
// 	position: relative;
// 	margin-top: 5px;

// 	input {
// 		padding-left: 30px;
// 	}
// 	i {
// 		position: absolute;
// 		padding: 8px 12px;
// 		pointer-events: none;
// 	}
// }
// .payment-account {
// 	border: 1px solid #000000;
// 	padding: 15px 0 15px 0;
// 	margin: 10px 0 10px 0;
// }
// .applied {
// 	background-color: #71B633;
// }
// .pending {
// 	background-color: #E37723;
// }
// .rejected {
// 	background-color: #FCD624;
// }
// .yellow-message {
// 	background-color: #FFECCC;
// 	padding: 20px;
// }
// .benef-header {
// 	background-color: #2B8EC3;
// 	color: white;
// 	padding: 10px;
// }
// .benef-added {
// 	background-color: #E1F0D2;
// 	padding: 10px;
// 	.row {
// 		margin-bottom: 10px;
// 		margin-top: 10px;
// 	}
// }
// .nav-tabs {
// 	margin-top: 25px;
// }
// .search-result {
// 	margin: 10px;
// 	padding-bottom: 10px;
// }
// .account-list {
// 	height: 400px;
// 	overflow-y: scroll;
// }
// .account-item {
// 	border-bottom: 1px solid #CECECE;
// 	margin: 0 5px;
// 	padding: 10px 0 10px 0;
// 	cursor: pointer;
// }