$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

// @import 'sass-bootstrap/lib/bootstrap';


/* MIXINS */
@mixin border_radius($radius: 10px) {
	border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-moz-border-radius: $radius !important;
}
@mixin border_top_radius($radius: 10px) {
	border-top-left-radius: $radius !important;
	-webkit-border-top-left-radius: $radius !important;
	-moz-border-top-left-radius: $radius !important;
	border-top-right-radius: $radius !important;
	-webkit-border-top-right-radius: $radius !important;
	-moz-border-top-right-radius: $radius !important;
}
@mixin border_bottom_radius($radius: 10px) {
	border-bottom-left-radius: $radius !important;
	-webkit-border-bottom-left-radius: $radius !important;
	-moz-border-bottom-left-radius: $radius !important;
	border-bottom-right-radius: $radius !important;
	-webkit-border-bottom-right-radius: $radius !important;
	-moz-border-bottom-right-radius: $radius !important;
}

@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
	background: $color_top !important;
	background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
	background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
	background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_top, endColorstr=$color_bottom,GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
	-moz-box-shadow: 0 0 5px $shadow;
	-webkit-box-shadow: 0 0 5px $shadow;
	box-shadow: 0 0 5px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
	transition: all $segundos ease;
	-ms-transition: all $segundos ease;
	-webkit-transition: all $segundos ease;
	-o-transition: all $segundos ease;
	-moz-transition: all $segundos ease;
}
@mixin anim_transicion_linear( $segundos: 0.3s ){
	transition: all $segundos linear;
	-ms-transition: all $segundos linear;
	-webkit-transition: all $segundos linear;
	-o-transition: all $segundos linear;
	-moz-transition: all $segundos linear;
}
@mixin anim_key( $anim: spin, $segundos: 0.3s ){
	-webkit-animation: $anim $segundos linear;
	-moz-animation: $anim $segundos linear;
	animation: $anim $segundos linear;
}
@mixin anim_key_infinite( $anim: spin, $segundos: 0.3s ){
	-webkit-animation: $anim $segundos infinite linear;
	-moz-animation: $anim $segundos infinite linear;
	animation: $anim $segundos infinite linear;
}

*{
	behavior: url(PIE.htc);
}
body{
	background: #FFFFFF;
}
a{
	color: #1b85d1;
}
a:hover{
	color:#3392cc;
}

select{
	font-size:12px!important;
	color:#666666;
}
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="email"]{
	font-size:12px;
	color:#666666;
	background: #FFFFFF;
	border: 1px solid #cccccc;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	@include border_radius( 3px );
}
input[type="text"].fecha{
	background: #FFFFFF url(/images/ico-calendar-azul.png) 5px 10px no-repeat;
	background-size: 11px;
	width: 100px;
	padding-left: 20px;
}
input[type="text"].monto{
	text-align: right;
}

.clear-fix{
	clear: both;
	overflow: hidden;
}

/* BOTONES */
.btn-primary{
	background:#4ca3e6;
	color:#FFFFFF;
	font-size:11px;
	text-transform:uppercase;
	border:none;
	padding: 10px 40px;
}

/* ICONOS */
.ico-check-blanco{
	background: url(/images/ico-check-blanco.png) no-repeat;
	background-size:15px;
	width:15px;
	height:12px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;
}
.ico-reintentar-blanco{
	background: url(/images/ico-reintentar-blanco.png) no-repeat;
	background-size:12px;
	width:12px;
	height:14px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;
}
.ico-refresh-blanco{
	background: url(/images/ico-refresh-blanco.png) no-repeat;
	background-size:14px;
	width:14px;
	height:14px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;
}
.ico-tel-azul{
	background: url(/images/ico-tel-azul.png) no-repeat;
	background-size:15px;
	width:15px;
	height:15px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;	
}
.ico-ayuda-azul{
	background: url(/images/ico-ayuda-azul.png) no-repeat;
	background-size:17px;
	width:17px;
	height:17px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;	
}
.ico-print-azul{
	background: url(/images/ico-print-azul.png) no-repeat;
	background-size:20px;
	width:20px;
	height:20px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;	
}
.ico-mail-azul{
	background: url(/images/ico-mail-azul.png) no-repeat;
	background-size:20px;
	width:20px;
	height:15px;
	display: inline-block;
	position: relative;
	top:2px;
	margin-right:5px;	
	margin-left:5px;	
}
.ico-ayuda-blanco{
	background: url(/images/ico-ayuda-blanco.png) no-repeat;
	background-size:22px;
	width:22px;
	height:22px;
	display: inline-block;
	position: relative;
	top:5px;
	margin-left:5px;	
	margin-right:5px;	
}
.ico-cta-banamex{
	background: url(/images/ico-cta-banamex.png) no-repeat;
	background-size:20px;
	width:20px;
	height:20px;
	display: inline-block;
	position: relative;
	top:5px;
	margin-right:5px;	
}


header{
	z-index: 999;
	position: fixed;
	top: 0;
	left:0;
	right:0;
	.top-header{
		background:#000000;
		color: #FFFFFF;
		font-size: 11px;
		p{
			padding: 5px 0;
			margin: 0;
		}
		a{
			color: #FFFFFF;
		}
	}
	.nav-header{
		background: url(/images/nav.png) repeat-x;
		height: 60px;
		.navbar{
			border:none;
			.logo{
				background: url(/images/logo_bnmx.png) no-repeat;
				background-size: 179px;
				width: 179px;
				height: 46px;
				margin-top: 5px;
				display: block;
			}
			.navbar-nav{
				margin-top: 15px;
				li{
					@include border_radius( 5px );
					margin-left: 8px;
					overflow: hidden;
					a{
						padding: 6px 13px!important;
						color: #FFFFFF;

					}
					a:hover{
						@include gradient_top_bottom( #3098cd, #2e92c4);
					}
				}
				li.active{
					background: #23aeda;
					@include box_shadow(#10487b);
				}
			}   
		}
	}
}
.buscador{
	background: #ffffff;
	border-bottom: 1px solid #cdcdcd;
	padding: 10px 0;
}
.title{
	font-weight:normal;
	font-size:24px;
	.botones{
		color: #1b85d1;
		font-size: 14px;
	}
}
.contenedor-tabla{
	@include border_radius(5px);
	border:1px solid #d8d8d8;
	background: #FFFFFF;
	margin-top:20px;
	margin-bottom:5px;
	overflow: hidden;
	.head-contenedor{
		background: #1b85d1;
		color: #666666;
		overflow: hidden;
		h4{
			font-size: 14px;
			font-weight: normal;
			margin: 15px 10px;
			color: #ffffff;
		}
		.badge{
			display: block;
			width: 25px;
			height: 25px;
			padding-top: 5px;
			font-size: 14px;
			color: #FFFFFF;
			font-weight: normal;
			margin: 10px 5px;
			@include border_radius(25px);
		}
		.badge.green{
			background: #13da25;
		}
		.badge.yellow{
			background: #ffaa00;
		}
		.badge.red{
			background: #ff0000;
		}
		.btn-table{
			background: #4ca3e6;
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 11px;
			padding: 15px 10px;
			@include border_radius(0px);
			span{
				padding-right:15px;
			}
		}
	}
	table{
		color: #000000;
		font-size: 12px;
		border-collapse: separate;
		thead{
			td{
				background:#f2f2f2;
				color: #666666;
				font-weight: bold;
			}
		}
		tbody{
			td{
				padding-top: 12px;
				padding-bottom: 12px;
			}
			tr{
				border-top:none;
				border-bottom:1px solid #eeeeee;
			}
			tr:last-child{
				border-bottom:none;
			}
			.btn-close{
				@include border_radius(3px);
				color: #FFFFFF;
				font-size: 14px;
				line-height: 14px;
				height: 20px;
				padding:1px 5px 5px 5px;
			}
		}
		.botones{
			color: #1b85d1;
			font-size: 14px;
		}
	}
	table.valignC{
		tbody{
			td{
				vertical-align: middle;
			}
		}
	}
}

.net-key{
	background: #326d99;
	color:#ffffff;
	overflow:hidden;
	padding:10px;
	@include border_radius(5px);
	p{
		padding-top: 2px;
		font-size: 12px;
	}
	.input-group{
		.input-group-addon{
			background: #4ca3e6;
			color: #FFFFFF;
			padding-left:20px;
			padding-right:20px;
			border:none;
		}
		input[type="password"]{
			border-top-right-radius: 5px !important;
			-webkit-border-top-right-radius: 5px !important;
			-moz-border-top-right-radius: 5px !important;
			border-bottom-right-radius: 5px !important;
			-webkit-border-bottom-right-radius: 5px !important;
			-moz-border-bottom-right-radius: 5px !important;
			border-top-left-radius: 0 !important;
			-webkit-border-top-left-radius: 0 !important;
			-moz-border-top-left-radius: 0 !important;
			border-bottom-left-radius: 0 !important;
			-webkit-border-bottom-left-radius: 0 !important;
			-moz-border-bottom-left-radius: 0 !important;
		}
	}
	.btn-close{
		color: #d9ccc6;
		text-decoration: none;
		font-size: 18px;
		display: inline-block;
		margin: 5px 10px 0 20px;
		font-weight: normal;
	}	
}
.totales{
	font-weight:bold;
	font-size: 14px;
	padding-top:10px;
	text-transform:uppercase;
	span{
		display: inline-block;
		padding-left: 30px;
	}
}
.area-botones{
	border-top: 1px solid #cacaca;
	margin-top:15px;
	padding: 15px 0;
	.regresar,
	.regresar:hover{
		background: url(/images/ico-arrow-left-azul.png) 0 5px no-repeat;
		display: inline-block;
		padding-left:16px;
		margin: 8px 20px 0 20px;
		font-size: 14px;
		text-decoration: none;
	}
}

.head-pagos{
	z-index: 999;
	position: fixed;
	top: 85px;
	left: 0;
	right:0;
	.buscador{
		.form-group{
			margin: 0;
			padding-top: 8px;
			label{
				font-weight: normal;
				font-size: 16px;
			}
			.tarjeta{
				background-size:25px;
				background-position: 35px 10px;
			}
			input[type="text"]{
				background: url(/images/ico-lupa.png) right 6px no-repeat;
				padding-left:40px;
				padding-right:30px;
				color: #000000!important;
				font-size: 16px;
			}
		}
	}
	.franja-breadcrumb{
		label{
			padding-left:30px;
		}
	}
}

.content-pagos{
	margin-top:153px;
	.sidebar{
		background: #ffffff;
		padding:0;
		border-left: 1px solid #e9e9e9;
		border-right: 1px solid #e9e9e9;
		.tipo-pago{
			color: #000000;
			padding:15px;
			a{
				padding-left: 10px;
				text-decoration: none;
			}
			a.active{
				font-weight: bold;
			}
		}
		.nav-tabs{
			background: #1b85d1;
			margin-left: -1px;
			margin-right: -1px;
			padding: 10px 10px 0 10px;
			li{
				a{
					border:1px solid #1b85d1;
					border-bottom: none;
					background: transparent;
					color: #FFFFFF;
					position: relative;
					top: -1px;
				}
			}
			li:hover{
				a{
					
				}
			}
			li.active{
				a{
					background: #FFFFFF;
					color: #000000;
					position: relative;
					top: 0;
				}
			}
		}
		.list-cuentas{
			background:#FFFFFF;
			overflow: hidden;
			border-bottom: 1px solid #e9e9e9;
			input[type="search"]{
				background: #ffffff url(/images/ico-lupa.png) right 8px no-repeat;
				background-size: 25px;
				padding-right:25px;
				margin: 10px 5px;
				width: 80%;
				font-size: 12px;
			}
			.btn-beneficiario,
			.btn-beneficiario:hover{
				text-align: center;
				background: #FFFFFF;
				border:1px solid #1b85d1;
				color: #1b85d1;
				font-size: 18px;
				line-height: 18px;
				padding: 0 5px 3px 5px;
				margin: 15px 10px 0 0;
				height: 22px;
				vertical-align: top;
			}
			.account-list{
				border-top: 1px solid #eeeeee;
				height: 500px;
				overflow-y:scroll;

				padding: 0 10px 20px 10px;
				.account-item{
					font-size: 12px;
					color: #1b85d1;
					background: #FFFFFF;
					padding: 15px 5px;
					border-bottom: 1px solid #eeeeee;
				}
				.account-item:hover{
					background:#fbfbfb;
				}
			}
		}
		.beneficiario{
			border-bottom: 1px solid #e9e9e9;
			overflow: hidden;
			.benef-header {
				background: #1b85d1;
				color: #FFFFFF;
				padding: 20px 10px;
			}
			.net-key{
				margin: 10px;
				.input-group{
					margin: 5px 0;
				}
			}
			.titulo-beneficiario{
				font-weight: bold;
				font-size: 12px;
				border-bottom: 1px solid #cccccc;
				padding: 10px;
				clear: both;
				overflow: hidden;
				.btn-add, 
				.btn-add:hover{
					text-align: center;
					background: transparent;
					border:1px solid #1b85d1;
					color: #1b85d1;
					font-size: 14px;
					line-height: 14px;
					padding: 1px 5px 5px 5px;
					margin: 0 5px 10px 0;
					height: 20px;
				}
			}
			.content-benef{
				font-size: 12px; 
				padding:0 10px 10px 10px;
				label{
					font-weight: normal;
					padding-bottom:10px;
				}
				input[type="text"],
				input[type="email"],
				input[type="password"],
				input[type="tel"]{
					width: 100%;
				}
				.row{
					padding-top: 5px;
					font-size: 12px; 
				}
			}
			.btn-close, 
			.btn-close:hover{
				text-align: center;
				background: transparent;
				border:1px solid #FFFFFF;
				color: #FFFFFF;
				font-size: 14px;
				line-height: 14px;
				padding: 1px 5px 5px 5px;
				margin: 0 5px 10px 0;
				height: 20px;
			}
		}
	}
}


.tarjeta-clasica{
	background: url(/images/tarjeta_clasica.png) no-repeat;
}


// .container {
// 	padding-right: 15px;
// 	padding-left: 15px;
// }
// .left-inner-addon {
// 	position: relative;
// 	margin-top: 5px;

// 	input {
// 		padding-left: 30px;
// 	}
// 	i {
// 		position: absolute;
// 		padding: 8px 12px;
// 		pointer-events: none;
// 	}
// }
// .payment-account {
// 	border: 1px solid #000000;
// 	padding: 15px 0 15px 0;
// 	margin: 10px 0 10px 0;
// }
// .applied {
// 	background-color: #71B633;
// }
// .pending {
// 	background-color: #E37723;
// }
// .rejected {
// 	background-color: #FCD624;
// }
// .yellow-message {
// 	background-color: #FFECCC;
// 	padding: 20px;
// }

// .benef-added {
// 	background-color: #E1F0D2;
// 	padding: 10px;
// 	.row {
// 		margin-bottom: 10px;
// 		margin-top: 10px;
// 	}
// }
// .nav-tabs {
// 	margin-top: 25px;
// }
// .search-result {
// 	margin: 10px;
// 	padding-bottom: 10px;
// }
.account-list {
	height: 400px;
	overflow-y: scroll;
}
// .account-item {
// 	border-bottom: 1px solid #CECECE;
// 	margin: 0 5px;
// 	padding: 10px 0 10px 0;
// 	cursor: pointer;
// }
