
<ul class="nav nav-pills">
  <li><a href="">Consultas</a></li>
  <li class="active"><a href="">Pagos</a></li>
  <li><a href="">Impuestos</a></li>
  <li><a href="">Cobranza</a></li>
  <li><a href="">Inversiones</a></li>
</ul>

<hr/>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="origin-search" class="col-sm-3 control-label">Cuenta origen:</label>
    <div class="col-sm-4">
      <angucomplete id="origin-account"
              placeholder="Cuenta origen"
              pause="20"
              selectedobject="originAccount"
              url="http://localhost:4567/api/accounts?query="
              datafield="docs"
              titlefield="name"
              minlength="1"
              enabledefault="true"
              inputclass="form-control form-control-small"/>
    </div>
  </div>
</form>

<hr/>

Pagar: &nbsp; <a href="">Servicios</a> &nbsp; <a href="">Tarjetas</a> &nbsp; <a href="">Traspasos</a>

<hr/>

<div class="row">
  <div class="col-md-3 sidebar" ng-show="accountSelection">
    Agregar beneficiario
    <button class="btn btn-default pull-right" type="submit" ng-click="addingBeneficiary=true; accountSelection=false; benef = {}">
      <span class="glyphicon glyphicon-plus"></span>
    </button>

      <angucomplete id="target-account"
              placeholder="Cuenta propias"
              pause="20"
              selectedobject="targetAccount"
              url="http://localhost:4567/api/accounts?query="
              datafield="docs"
              titlefield="name"
              minlength="1"
              enabledefault="true"
              inputclass="form-control form-control-small"/>


      <angucomplete id="target-thirdaccount"
              placeholder="Cuenta de terceros"
              pause="20"
              selectedobject="thirdAccount"
              url="http://localhost:4567/api/otheraccounts?query="
              datafield="docs"
              titlefield="name"
              descriptionfield="bank_t"
              minlength="1"
              enabledefault="true"
              inputclass="form-control form-control-small"/>

  </div>

  <div class="col-md-3 sidebar" ng-show="addingBeneficiary">
    <div class="benef-header">
      Agregar beneficiario
      <span class="glyphicon glyphicon-remove pull-right" ng-click="addingBeneficiary=false; accountSelection=true;"></span>
    </div>

    <div class="yellow-message" ng-show="challengeBeneficiary">
      <p>Ingresa manualmente tu clave dinámica</p>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon">23456789</span>
            <input type="password" class="form-control" ng-model="inputChallngBenef"/>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button ng-click="addBeneficiary()" type="button" class="btn btn-info pull-right">Confirmar</button>
        </div>
      </div>
    </div>

    <form role="form">
      <div class="checkbox pull-right">
        <label>
          <input type="checkbox" ng-model="paymentOrder" ng-model="benef.paymentOrder"> Orden de pago
        </label>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nombre / Alias" ng-model="benef.name"/>
      </div>

      <div class="form-group">
        <input type="email" class="form-control" placeholder="Correo electrónico" ng-model="benef.email"/>
      </div>

      <div ng-show="!paymentOrder">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Clabe | Tarjeta | Celular" ng-model="benef.account_s"/>
        </div>
      </div>

      <div ng-show="paymentOrder">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Sector económico" ng-model="benef.sector"/>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="radio" name="personType" ng-model="benef.personType" value="person"> Física
                </label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="checkbox">
                <label>
                  <input type="radio" name="personType" ng-model="benef.personType" value="company"> Moral
                </label>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Importe máximo" ng-model="benef.max_amount"/>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Teléfono celular" ng-model="benef.cellphone"/>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="benef.recurring"> Pago recurrente
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="benef.remote"> Autorizar en forma remota
        </label>
      </div>

      <button ng-click="inputChallngBenef = ''; challengeBeneficiary = true" type="submit" class="btn btn-primary btn-block">Agregar</button>
    </form>
  </div>


  <div class="col-md-3 sidebar" ng-show="addedBeneficiary">
    <div class="benef-header">
      Beneficiario dado de alta
      <span class="glyphicon glyphicon-remove pull-right" ng-click="addedBeneficiary=false; accountSelection=true;"></span>
    </div>

    <div class="benef-added">
      <div class="row">
        <div class="col-md-12">
          Nombre: {{benef.name}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Alias: {{benef.alias}}
        </div>
      </div>

      <div ng-show="benef.sector">
        <div class="row">
          <div class="col-md-12">
            Cuenta: {{benef.account_s}}
          </div>
        </div>
      </div>

      <div ng-show="benef.sector">
        <div class="row">
          <div class="col-md-12">
            Sector: {{benef.sector}}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <span ng-show="benef.personType == 'person'">Física</span>
            <span ng-show="benef.personType == 'company'">Moral</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Importe máximo: {{benef.max_amount}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Correo electrónico: {{benef.email}}
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          Teléfono celular: {{benef.cellphone}}
        </div>
      </div>

      <div class="row" ng-show="benef.recurring">
        <div class="col-md-12">
          Pago recurrente
        </div>
      </div>

      <div class="row" ng-show="benef.remote">
        <div class="col-md-12">
          Autorizar en forma remota
        </div>
      </div>

    </div>

  </div>


  <div class="col-md-9 main" ng-show="dashboard">
    <div class="row">
      <div class="col-md-6">

        <h4 class="pull-left">Pendientes</h4>
        <span class="badge pull-right">
          2
        </span>

        <table class="table">
          <tr>
            <td>
              Juanito Perez
              cuenta destino
            </td>
            <td>
              $1,500.00
              12/12/2014
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
              cuenta destino
            </td>
            <td>
              $1,500.00
              12/12/2014
            </td>
          </tr>
        </table>

      </div>

      <div class="col-md-6">

        <h4 class="pull-left">Rechazados</h4>
        <span class="badge pull-right">
          1
        </span>

        <table class="table">
          <tr>
            <td>
              Teresa
              Bancomer MXN 12345
            </td>
            <td>
              $1,500.00
              12/12/2014
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <h4 class="pull-left">Recurrentes</h4>

        <button class="btn btn-default pull-right" type="submit">
          <span class="glyphicon glyphicon-refresh"></span>
          Reutilizar pagos
        </button>


        <table class="table">
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Falta segunda firma
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>

        </table>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4 class="pull-left">Historial de pagos</h4>

        <table class="table">
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Falta segunda firma
            </td>
          </tr>
          <tr>
            <td>
              Juanito Perez
            </td>
            <td>
              Cuenta destino
            </td>
            <td>
              $1,500.00
            </td>
            <td>
              12/12/2014
            </td>
            <td>
              Pendiente por autorizar
            </td>
          </tr>

        </table>


      </div>
    </div>
  </div>

  <div class="col-md-9 main" ng-show="paymentConfirmation">

    <div class="yellow-message" ng-show="challenge">
      <p>Ingresa manualmente tu clave dinámica</p>
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon">23456789</span>
            <input type="password" class="form-control" ng-model="inputChallngPayment"/>
          </div>
        </div>
        <div class="col-md-4">
          <button ng-click="processPayment()" type="button" class="btn btn-info">Confirmar</button>
        </div>
      </div>
    </div>

    <form class="form-inline" role="form">

      <div class="row payment-account" ng-repeat="payingAccount in payingAccounts">

        <div class="col-md-4" ng-if="payingAccount.type_i == 0">
          <h4>{{payingAccount.name}}</h4>
        </div>

        <div class="col-md-4" ng-if="payingAccount.type_i == 1">
          <h4>{{payingAccount.name}}</h4>
          {{payingAccount.bank_t}}
          <br />
          {{payingAccount.account_t}}
        </div>

        <div class="col-md-8">
          <div class="form-group">
            <input ng-model="payingAccount.amount" type="text" class="form-control" name="" id="{{payingAccount.id + '-amount'}}" value="" placeholder="monto" />
          </div>
          <div class="form-group">
            <input ng-model="payingAccount.date" type="text" class="form-control" name="" id="{{payingAccount.id + '-date'}}" value="" placeholder="fecha y hora"/>
          </div>
          <div class="checkbox">
            <label>
              <input ng-model="payingAccount.pending" type="checkbox"> Autorización remota
            </label>
          </div>

          <span class="glyphicon glyphicon-remove pull-right" ng-click="removePayingAccount(payingAccount.id)"></span>
        </div>

      </div>

      <button ng-click="inputChallngPayment = ''; challenge=true" type="submit" class="btn btn-primary pull-right">Pagar</button>

    </form>
  </div>

  <div class="col-md-9 main" ng-show="paymentApplied">
    <div ng-show="appliedPayments.length > 0">
      <h4>Pago aplicado</h4>

      <div class="row payment-account applied" ng-repeat="payingAccount in appliedPayments">

        <div class="col-md-4" ng-if="payingAccount.type_i == 0">
          <h4>{{payingAccount.name}}</h4>
        </div>

        <div class="col-md-4" ng-if="payingAccount.type_i == 1">
          <h4>{{payingAccount.name}}</h4>
          {{payingAccount.bank_t}}
          <br />
          {{payingAccount.account_t}}
        </div>

        <div class="col-md-4">
          {{payingAccount.amount}}
        </div>

        <div class="col-md-4">
          {{payingAccount.date}}
        </div>

      </div>
    </div>

    <div ng-show="pendingPayments.length > 0">
      <h4>Pendiente</h4>

      <div class="row payment-account pending" ng-repeat="payingAccount in pendingPayments">

        <div class="col-md-4" ng-if="payingAccount.type_i == 0">
          <h4>{{payingAccount.name}}</h4>
        </div>

        <div class="col-md-4" ng-if="payingAccount.type_i == 1">
          <h4>{{payingAccount.name}}</h4>
          {{payingAccount.bank_t}}
          <br />
          {{payingAccount.account_t}}
        </div>

        <div class="col-md-4">
          {{payingAccount.amount}}
        </div>

        <div class="col-md-4">
          {{payingAccount.date}}
        </div>

      </div>
    </div>

    <div ng-show="rejectedPayments.length > 0">
      <h4>Rechazado</h4>

      <div class="row payment-account rejected" ng-repeat="payingAccount in rejectedPayments">

        <div class="col-md-4" ng-if="payingAccount.type_i == 0">
          <h4>{{payingAccount.name}}</h4>
        </div>

        <div class="col-md-4" ng-if="payingAccount.type_i == 1">
          <h4>{{payingAccount.name}}</h4>
          {{payingAccount.bank_t}}
          <br />
          {{payingAccount.account_t}}
        </div>

        <div class="col-md-4">
          {{payingAccount.amount}}
        </div>

        <div class="col-md-4">
          {{payingAccount.date}}
        </div>

      </div>
    </div>

    <button ng-click="paymentApplied=false; dashboard=true" type="submit" class="btn btn-default pull-right">Ir a principal</button>
  </div>

</div>

